<html>
    <head>
        <title>Delete User</title>
    </head>
    <body>
        <h1>Are you sure you want to delete this user?</h1>
        <button id="yes" type="submit">Yes</button> - <button id="no" type="submit"><a href="/">No</a></button>
        <script>
            const yes = document.getElementById('yes');

            yes.addEventLister('click', async (e) => {
                e.preventDefault();

                await fetch('/delete-user', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(async (res) => {
                    const data = await res.json();
                    if (!data) {
                        alert(data.error);
                        window.location.href = '/';
                    }

                    if (data.message) {
                        window.location('/user/register')
                    }

                }).catch(() => window.location.href = '/');
            })

        </script>
    </body>
</html>